:root {
  --c0: #ffffff;
  --c1: #000000;
  --c2: #333333;
  --c3: #c4c4c4;
  --c4: #666666;
  --c5: #777777;
  --c6: #dbdbdb;
  --c7: #f3f3f3;
  --c8: #bababa;
  --c9: #999999;
  --c10: #75a5cb;
  --c11: #3a91e8;
}